.git
.github
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/inertia-devtools
bootstrap/cache/*.php
.env
.env.*
!.env.example
npm-debug.log
.DS_Store
.idea
.vscode
public/build
public/hot
storage/app/public/**
storage/logs/**
storage/framework/**
.backups
deploy-*.log
